

#gardening {
    padding-top: 4%;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    height: 40%;
}

/*
 positions the gnome image next to the main page text
*/
#gnome{
  
    width: 10%;
    float: left;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 2%
}

/*
positions the text under the three images
*/
#pagesNames{
  text-align: center;
  padding-left: 5%;
    padding-right: 5%

}

/*
taking away defaut margins so The title can be positioned correctly
*/
p {
  margin: 0;
}

#pagesNames ul li{
  padding-left: 9%;
  padding-right: 9%
}
#pages{
  border-top: 1px solid black;
  text-align: center;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
#pages img{
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  display: inline;
  width: 30%; /*set the width or max-width*/
   /*this makes sure to maintain the aspect ratio*/
}




/*
Positioning paragraphs next to gnome image
*/
#welcome {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
}
#welcome2{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

