h3 {
  margin-left: 2rem;
}

input, label {
  margin-left: 2rem;
  display:block;
}

#comment input[type='text'],

textarea {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0.625rem;
  margin-left: 2rem;
  display: block;
  width: 31.25rem;
  height: 12.5rem;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.313rem;
  line-height: 1.4em;
}

#commentform::before {
  content: "";
  position: absolute;
  background-image: url("../socialImages/veggiebackdrop.png");
  background-position: center;
  background-repeat: repeat-x;
  background-size: 20%;
  height: 50rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

#commentSubmit {
  border: none;
  cursor: pointer;
  margin-left: 2.2rem;
  margin-bottom: 60px;
  width: 6.25rem;
  height: 1.563rem;
  font-weight: bold;
  color: #fff;
  background-color: #747C8F;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.24);
  outline: none; 
  transition: 0.2s all; 
}

#commentSubmit:active {
  transform: scale(0.98); 
  box-shadow: 3px 2px 12px 1px rgba(0, 0, 0, 0.24); 
}

.commentDelete {
  display: none;
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  right: 25px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.commentbox { 
  position: relative;
  width: 815px; 
  margin-left: 2rem;
  margin-bottom: 10px;
  padding: 20px;
  padding-bottom: 40px;
  background: white;  
  border-radius: 20px;
  box-shadow: 0px 5px 20px 0px;
  z-index: 1;
} 

.commentbox::after { 
  bottom: -30px; 
  background: rgb(43, 42, 42); 
  width: 90%; 
  height:4px; 
  border-radius:50%; 
}

.commentbox:hover .commentDelete {
  display: block;
}

.commentbox p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
}
