/*
container css for the navbar/ social links
*/


#header{
 background-color: rgb(142, 199, 85);
 height: 11rem;	
}

.navWrapper{
    width: 100%;
    padding: 0%;
    margin: 0%;
    
    background-color: rgb(142, 199, 85);
  }
  
  body {
      background-color: #f1f1f1;
      padding: 0;
      margin: 0;
      font-family: Arial;
       
    }
  
    /*
  Make nav bar links in one line
  */
    ul li {
      display: inline-block;
    }
    
   .navBar ul li:not(:last-child):after {
        padding-top: 2px;
      content: " ";
      color: #ddd;
      }
  
  
  #name {
    padding-left: 0;
    color: #ddd;
    padding-top: 5px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
      font-size: 35px; 
       
  }
  /*
taking away defaut margins so The title can be positioned correctly
*/
p {
    margin: 0;
  }
  
  #slogan {
     
    margin-top: 4px;
    padding: 0;
    color: #ddd;
    font-family: 'Indie Flower', cursive;;
    text-align: center;
    font-weight: bold;
  }
  
  
  .social-Links li {
    padding-top: 12px;
    font-size: 23px;
    padding-right: 4px;
    color: #ddd;
  }
  
  
    .navBar{
       
      position: absolute;
      right:3px;
      top:2px;
      
    }
  
    .navBar a {
      position: relative;
      float: right;
      color: #ddd;
      text-align: center;
      padding: 5px 7px;
      text-decoration: none;
      font-size: 17pxx;
      cursor: pointer;
    
  }
  
  /*
  changes color of link when hover/ up to changes if any ideas
  */
  .navBar a:hover {
      background-color: #ddd;
      color: black;
  }

	