/* Designer page*/
#pages {
	border-top: 1px solid black;
	padding-top: 2rem;
}

#designerWrapper {
	display: flex;
	flex-direction: row;
}

#designerLeft {
	position:relative;
	width: 70%;
	overflow-x: scroll;
/*	float: left;*/
}

#designerRight {
	border-left: 2px dashed black;
	padding-left: 1rem;
	padding-top: 2rem;
	width: 28%;
	height:auto;
/*	float: right;*/
}

#designerWindow {
	border: 1px solid #000000;
	display: block;
	margin: 0 auto;
}

#designerInstructions {
	position: relative;
	padding-bottom: 2rem;
}

#designerInstructions h3 {
	text-align: center;
}

#designerInstructions ul li {
	display: block;
}

#designerWrapper #gnome {
	clear: both;
}

#dimX {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
/*	border: 1px solid blue;*/
}

#dimY {
	position: absolute;
	right: 10%;
	top: 50%;
}