body {
	background-color: rgb(142, 199, 85);
	overflow-x: hidden;
}

.content-wrapper {
	height: 85%;
	background-color: white;
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
}


#columnOne {
	position: relative;
	width: 30%;
	height: 100%;
	display: block;
	left: 20%;
	float: left;
}

#columnTwo {
	position: relative;
	width: 30%;
	height: 100%;
	display: inline-block;
	float: right;
	right: 20%;
}

#imageBorder div img {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	object-fit: cover;
	overflow: hidden;
	background-color: #2fe7ff;
}

#imageBorder div {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#imageBorder {
	position: relative;
	top: 10px;
	border-style: solid;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border-color: rgb(106, 106, 106);

}

#changePicture {
	width: 100px;
	padding:10px 0px ;
	position: relative;
	font-weight: bolder;
	font-size: 10px;
	border-radius: 12px;
	top: 20px;
	margin: auto;
	background-color: rgb(142, 199, 85);
	color: rgba(255, 255, 255, 0.79);
	float: none;
	text-align: center;
}

#uploadPicture {
	font-size: 10px;
	display: none;
	position: absolute;
}

#upload {
	display: none;
	position: relative;
	width: 80px;
	padding:2px 0px ;
	position: relative;
	font-weight: bolder;
	font-size: 10px;
	border-radius: 12px;
	margin: auto;
	background-color: rgb(142, 199, 85);
	color: rgba(255, 255, 255, 0.79);
	text-align: center;
}

#nameLabel {
	position: relative;
	text-align: center;
	font-size: 32px;
	width: 250px;
	top: 10px;
	text-decoration: underline;
	color: #804f16;
}



#friendsContainer {
	position: relative;
	top: 20px;
	border-style: solid;
	border-width: 6px;
	width: 250px;
	height: 230px;
	border-radius: 25px;
	border-color: rgb(142, 199, 85);
	overflow: hidden;
	overflow-y: auto;
}

#friendsContainer h2 {
	position: relative;
	padding-top: 6px;
	margin: auto;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: rgb(142, 199, 85);
	border-radius: 18px;
	color: white;
}

#friendsContainer ul {
	position: relative;
	width: 100%;
	right: 20px;
}

#friendsContainer ul li {
	position: relative;
	border-bottom-style: solid;
	border-bottom-color: green;
	border-bottom-width: 2px;
	padding-bottom: 7px;
	width: 100%;


}

#friendsContainer ul li:hover {
	background-color: rgba(128, 128, 128, 0.59);
}

#friendsContainer ul li img {
	position: relative;
	top: 3px;
	left: 20px;
	float: left;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	object-fit: cover;
	overflow: hidden;
	background-color: #2fe7ff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

#deleteAccount {
	position: relative;
	top: 40px;
	border-style: solid;
	border-width: 6px;
	width: 250px;
	height: 180px;
	border-radius: 25px;
	border-color: rgb(142, 199, 85);
	overflow: hidden;
	overflow-y: auto;
}

#deleteAccount h2 {
	position: relative;
	padding-top: 6px;
	margin: auto;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: rgb(142, 199, 85);
	border-radius: 18px;
	color: white;
}

#deleteAccount div {
	position: relative;
	left: 20px;
	top: 20px;
}

#deleteAccount div label {
	font-size: 17px;
	color: rgb(114, 66, 66);
	font-weight: bold;
}

#deleteAccount div input{
	width: 100px;
}

#deleteAccount>p {
	position: absolute;
	color: rgb(114, 66, 66);
}

#deleteAccount>form>input{
position: relative;
width: 40%;
top: 10px;
left: 70px;
}

#saveInfo {
	position: relative;
	top: -20px;
	left: 125px;
	width: 100px;
	text-align: center;

}

#friendsContainer ul li p {
	position: relative;
	display: inline;
	top: 5px;
	left: 30px;
	font-size: 20px;
	color: saddlebrown
}

#friendsContainer ul li:first-of-type {
	border-top-style: solid;
	border-top-color: green;
	border-top-width: 2px;

}



#personalContainer {
	position: relative;
	top: 20px;
	left: 30px;
	border-style: solid;
	border-width: 6px;
	width: 440px;
	height: 390px;
	border-radius: 25px;
	border-color: rgb(142, 199, 85);
}

#personalContainer h2 {
	position: relative;
	padding-top: 6px;
	margin: auto;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: rgb(142, 199, 85);
	border-radius: 18px;
	color: white;
}



#accountContainer {
	position: relative;
	top: 40px;
	left: 30px;
	border-style: solid;
	border-width: 6px;
	width: 440px;
	height: 360px;
	border-radius: 25px;
	border-color: rgb(142, 199, 85);
}

#accountContainer>p {
	position: absolute;
	color: rgb(114, 66, 66);
}

#accountContainer h2 {
	position: relative;
	padding-top: 6px;
	margin: auto;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: rgb(142, 199, 85);
	border-radius: 18px;
	color: white;
}

#personalInfo div {
	position: relative;
	top: 10px;
	left: 30px;
	width: 100%;
}

#personalInfo div {
	font-size: 17px;
	color: rgb(114, 66, 66);
	font-weight: bold;
}

#accountContainer div {
	font-size: 17px;
	color: rgb(114, 66, 66);
	font-weight: bold;
}

#changePassword {
	position: relative;
	top: 20px;
	width: 100%;
}

#changePassword div {
	position: relative;
	left: 30px;
	width: 100%;

}


#changeUsername {
	position: relative;
	top: 30px;
	left: 30px;
	width: 100%;
}

#changeUsername input:last-child {
	position: relative;
	left: 100px;
}

#changePassword input:last-child {
	position: relative;
	left: 130px;
}

#changeUsername div {
	position: relative;
	width: 100%;
}


