body {
    text-align: center;
}

.parent {
    width: 100%;
    margin: auto 0;
}

.previous:hover {
    background-color: rgb(142, 199, 85);
    color: black;
}
  
.previous {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: auto;
    width: 100px;
    padding: 8px 16px;
    background-color: rgb(48, 92, 5);
    color: black;
}